<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Todo</title>
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

<div class="container">
  <header id="header" class="header">
  <h1>TODO - LIST</h1>
  </header>

  <div id="stage" class="stage" role="main">

    <div class="stage__create_todo">
      <button href="#" class="stage__create__btn--add">追加する</button>
    </div>

    <div class="stage__canvas">
      <article class="todo__item">
        <div class="todo__item__inr">
          <h1 class="todo__item__ttl">Title</h1>
          <p class="todo__item__limit">3/15</p>
        </div>
      </article>

      <article class="todo__item">
        <div class="todo__item__inr">
          <h1 class="todo__item__ttl">Title</h1>
          <p class="todo__item__limit">3/15</p>
        </div>
      </article>

      <article class="todo__item">
        <div class="todo__item__inr">
          <h1 class="todo__item__ttl">Title</h1>
          <p class="todo__item__limit">3/15</p>
        </div>
      </article>

      <article class="todo__item">
        <div class="todo__item__inr">
          <h1 class="todo__item__ttl">Title</h1>
          <p class="todo__item__limit">3/15</p>
        </div>
      </article>

    </div>

  </div>

  <footer id="footer" class="footer">
  footer
  </footer>

</div>



</body>
</html>